@import url('http://fonts.cdnfonts.com/css/gilroy-bold');
.form-control {
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.password-wrapper {
  display: flex;
  flex-direction: row;
  border: 1px solid gray;
  border-radius: 5px;
  background: white;
}
.show-hide-password {
  margin: 5px;
}
.login-password {
  background: none;
  border: none;
  width: 100%;
  padding-left: 10px;
}
.login-btn {
  margin-top: 40px;
  width: 100px;
  height: 45px;
  border-radius: 5px;
  border: none;
  font-family: 'Gilroy-Bold', sans-serif;
  font-size: 18px;
  color: white;
  background: black;
}
.login-header{
  font-size: 25px;
  color: white;
  margin-bottom: 60px;
  font-family: 'Gilroy-Bold', sans-serif;
  text-align: center;
}
.label-row{
  font-size: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px
}
.label-row.password-row {
  padding-top: 30px;
}
.main-login {
  padding: 20px 30px;
  background: hsla(214, 86%, 55%, 0.5);
  border-radius: 10px;
}
.login-cont{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Gilroy-Medium', sans-serif;
  background: hsl(214, 35%, 21%);
  height: 100vh;
  overflow: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
