@import url('http://fonts.cdnfonts.com/css/gilroy-bold');
.expense-cont {
  display: flex;
  flex-direction: row;
}
.dashboard-main {
  display: flex;
  flex-direction: column;
  background:  hsl(214, 35%, 21%);
  height: 100vh;
  overflow: auto;
}
.auth-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #22539E;
  height: 70px;
}
.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: hsla(214, 86%, 55%, 0.5);
  height: 70px;
}
.dashboard-header-title{
  color: white;
  margin-left: 15px;
  font-family: 'Gilroy-Bold', sans-serif;
  font-size: 25px;
}
.form-control {
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.password-wrapper {
  display: flex;
  flex-direction: row;
  border: 1px solid gray;
  border-radius: 5px;
  background: white;
}
.show-hide-password {
  margin: 5px;
}
.login-password {
  background: none;
  border: none;
  width: 100%;
  padding-left: 10px;
}
.login-btn {
  padding: 5px 10px;
  margin-top: 40px;
  width: auto;
  height: 45px;
  border-radius: 5px;
  border: none;
  font-family: 'Gilroy-Bold', sans-serif;
  font-size: 18px;
  color: white;
  background: black;
}
.login-header{
  font-size: 25px;
  color: white;
  margin-bottom: 60px;
  font-family: 'Gilroy-Bold', sans-serif;
  text-align: center;
}
.label-row{
  font-size: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px
}
.label-row.password-row {
  padding-top: 30px;
}
.main-login {
  padding: 20px 30px;
  background: #22539E;
  border-radius: 10px;
  width: 400px;
}
.tab-btns-active {
  background: none;
  border: none;
  font-size: 20px;
  font-family: 'Gilroy-Bold', sans-serif;
  border-bottom: 7px solid #22539E;
  border-radius: 5px;
  transition: 0.2s;
}
.modal-div {
  font-family: 'Gilroy-Medium', sans-serif;
  padding: 20px 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  background: #fff;
  height: 550px;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0 1px hsla(214, 61%, 25%, 0.05), 0 4px 24px -3px hsla(214, 53%, 23%, 0.80);
  border-radius: 10px;
  transition: 0.5s;
}
.success-div {
  font-family: 'Gilroy-Medium', sans-serif;
  padding: 20px 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  background: #fff;
  height: auto;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0 1px hsla(214, 61%, 25%, 0.05), 0 4px 24px -3px hsla(214, 53%, 23%, 0.80);
  border-radius: 10px;
  transition: 0.5s;
}
.avatar-xs {
  height: 2rem;
  width: 2rem;
}
.avatar-lg {
  height: 6rem;
  width: 6rem;
}
.avatar-title {
  align-items: center;
  background-color: brown;
  color: white;
  display: flex;
  font-weight: 500;
  height: 100%;
  justify-content: center;
  width: 100%;
}
.rounded-circle {
  border-radius: 50% !important;
}
.plus {
  --b: 4px; /* the thickness */
  width: 40px; /* the size */
  aspect-ratio: 1;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  border: 10px solid #22539E; /* the outer space */
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#22539E 90deg,#fff 0) 
    calc(100% + var(--b)/2) calc(100% + var(--b)/2)/
    calc(50%  + var(--b))   calc(50%  + var(--b));
  display: inline-block;
  position: fixed;
  z-index: 1500;
  bottom: 80px;
  right: 120px;
}
.profile-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center !important;
  font-family: 'Gilroy-Medium', sans-serif !important;
  background-color: hsl(214, 90%, 72%) !important;
  margin: 100px 400px;
  padding: 50px 100px !important;
  border-radius: 10px !important;
}
.tab-btn-row{
  display:flex;
  gap: 30px;
}
.tab-btns-inactive {
  background: none;
  border: none;
  font-size: 20px;
  font-family: 'Gilroy-Bold', sans-serif;
  border-radius: 5px;
}
.expense-table-header {
  font-family: 'Gilroy-Bold', sans-serif;
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.expense-table-body {
  font-family: 'Gilroy-Medium', sans-serif;
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.dashboard-items {
  margin: 50px 70px;
  background: white;
  height: 100vh;
}
.login-cont{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Gilroy-Medium', sans-serif;
  background: hsl(214, 35%, 21%);
  height: 100vh;
  overflow: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
